<?xml version="1.0" encoding="UTF-8"?>

<phpunit bootstrap="bootstrap.php">

    <!-- <phpunit bootstrap="bootstrap.php"
             printerFile="vendor/whatthejeff/nyancat-phpunit-resultprinter/src/NyanCat/PHPUnit/ResultPrinter.php"
             printerClass="NyanCat\PHPUnit\ResultPrinter"> -->

    <php>
    </php>

    <testsuites>
        <testsuite name="Intahwebz DB Test Suite">
            <!-- <directory>./test/Intahwebz/DB/</directory>
            <directory>./test/Intahwebz/DBSync/</directory> -->
            <directory>./test/Intahwebz/TableMap/</directory>
        </testsuite>
    </testsuites>

    <filter>
        <!-- <blacklist>
            <directory>./src/Intahwebz/DB/Tests/</directory>
            <directory>./src/Intahwebz/DBSync/Tests/</directory>
            <directory>./src/Intahwebz/TableMap/Tests/</directory>
        </blacklist> -->
        <whitelist>
            <directory>./src/BaseReality</directory>
            <directory>./src/Intahwebz</directory>
            <exclude>
                <!-- <directory>./src/BaseReality/Controller/Tests/</directory>
                <directory>./src/Intahwebz/CSSGenerator/Tests/</directory> -->
            </exclude>
        </whitelist>
    </filter>

    <logging>
        <!-- <log type="coverage-text" target="php://stdout" showUncoveredFiles="false"/> -->
        <!-- <log type="coverage-html" target="/temp/intahwebz-db-coverage" charset="UTF-8"
             highlight="false" lowUpperBound="35" highLowerBound="70"/> --> 
        <log type="coverage-html" target="./var/intahwebz-db/" charset="UTF-8"
             highlight="false" lowUpperBound="35" highLowerBound="70"/>
    </logging>
    
</phpunit>
